*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif;
flex-wrap: wrap;


}

input{
    padding-left: 10px;
}

#main{
    display: flex;
    width: 100%;
    height: 100%;
  
}
#container{
    width: 100%;  
    display: flex;
    justify-content: center;
    height: 100%;
 
}
#nav{
    width: 100%;
    height: 80px;
    background-color: #632E05;
    color: white;
    display:flex;
    align-items: center;
    justify-content:space-between;
    border-radius: 3px;
}


.hp{
    color: #808080;
}
#logo-container{

    padding-left: 30px;
}
#logo-container a{
    color: rgb(245, 191, 54);
    text-decoration: none;
 
}
#pages-link{
    display: flex;
     gap: 40px;
    padding-right: 100px;
}
#pages-link a{
   color: white;
   text-decoration: none;
   font-size: 15px;
  
}
#pages-link a :hover{
    color: #aeacac;
}
#leftside{
    width: 60%;
    
    height: 100vh;
    background-image: url('Court\ Hammer.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
#heading h2{
    color: rgb(255, 186, 8);
    font-size: 1.75vw;
    padding-left: 35px;
    padding-top: 50px;
}
#description{
    padding-left: 35px;
    padding-top: 40px;
}


#description h1{
    color: white;
    font-size: 2.75vw;
}
#description #yellow {
    color: rgb(255, 186, 8);
}
.yellow{
    display: flex;
    gap: 10px;
}
.yellow #white {
    color: white;
}

#rightside{
    width: 40%;
    display: flex;
    height: 100vh;
    justify-content: center;
    
}
#login-form{
    height: 615px;
    width: 90%;
 display: inline-flex;
flex-direction: column;
margin-top: 30px;
align-items: center;
border-radius: 30px;
padding-top: 50px;
border: 1px solid #808080;
}
   
h1{
    color: #121127;
font-family: Nunito Sans;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
input{
    width: 420px;
height: 46px;
flex-shrink: 0;
fill: #FFF;
stroke-width: 1px;
stroke: rgba(128, 128, 128, 0.50);
}
h5{
    color: #121127;
font-family: Nunito Sans;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.login{
    border-radius: 5px;
border: 1px solid rgba(18, 17, 39, 0.20);
background: #FBBA08;
width: 420px;
height: 46px;
color: #FFF;
font-family: Nunito Sans;
margin-top: 40px;
font-size: 20px;
font-style: normal;
font-weight: 800;
cursor:pointer;
line-height: normal;
flex-shrink: 0;
}

.footer{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:1200px) {
    #leftside{
        display: hidden;
        height: 0;
        width: 0;
    }

    #rightside{
        width: 100%;
      
    }
}




@media (max-width:600px) {
    #nav{
        justify-content:space-between;
           
        align-items: center;
        gap: 10px;
        height: 100px;
    }

    #pages-link a{
        padding-left: 10px;
   color: white;
   text-decoration: none;
   font-size:12px;
  
}
#pages-link{
     gap:30px;
     padding-right: 0;
}

#login-form{
    width: 90%;
    
}

h1{
    font-size: 30px;
}

input{
    width: 100%;
}

.login{
    width: 100%;
}


}

@media (max-width:400px) {
     #pages-link a{
   font-size:8px;
  
}

#login-form{
    width: 95%;
}
}


@media (max-width:350px) {
    #login-form{
        border: none;
    }
}
