*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif;
flex-wrap: wrap;


}

body{
    overflow-x: hidden;
}

input{
    padding-left: 10px;
}

#main{
    display: flex;
    width: 100%;
    height: 100%;
  
}
#container{
    width: 100%;  
    display: flex;
    justify-content: center;
    height: 100%;
 
}




#nav{
    width: 100%;
    height: 80px;
    background-color: #632E05;
    color: white;
    display:flex;
    align-items: center;
    justify-content:space-between;
    border-radius: 3px;
}


.hp{
    color: #808080;
}
#logo-container{

    padding-left: 30px;
}
#logo-container a{
    color: rgb(245, 191, 54);
    text-decoration: none;
 
}

#leftside{
    width: 60%;
    
    height: 100vh;
    background-image: url('Court\ Hammer.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
#heading h2{
    color: rgb(255, 186, 8);
    font-size: 1.75vw;
    padding-left: 35px;
    padding-top: 50px;
}
#description{
    padding-left: 35px;
    padding-top: 40px;
}


#description h1{
    color: white;
    font-size: 2.75vw;
}
#description #yellow {
    color: rgb(255, 186, 8);
}
.yellow{
    display: flex;
    gap: 10px;
}
.yellow #white {
    color: white;
}

#rightside{
    width: 40%;
    display: flex;
    height: 100vh;
    justify-content: center;
    
}

.page-link:hover{
  transform: scale(1.1);
  transition:all;
  transition-duration: 0.5s;
}

#login-form{
    height: 615px;
    width: 90%;
 display: inline-flex;
flex-direction: column;
margin-top: 30px;
align-items: center;
border-radius: 30px;
padding-top: 50px;
border: 1px solid #808080;
}

.container2{
    display: flex;
    align-items: center;
}
   
h1{
    color: #121127;
font-family: Nunito Sans;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
input{
    width: 420px;
height: 46px;
flex-shrink: 0;
fill: #FFF;
stroke-width: 1px;
stroke: rgba(128, 128, 128, 0.50);
}
h5{
    color: #121127;
font-family: Nunito Sans;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.login{
    border-radius: 5px;
border: 1px solid rgba(18, 17, 39, 0.20);
background: #FBBA08;
width: 420px;
height: 46px;
color: #FFF;
font-family: Nunito Sans;
margin-top: 40px;
font-size: 20px;
position: relative;
    z-index: 1;

        transition: all 0.5s;
font-style: normal;
font-weight: 800;
cursor:pointer;
line-height: normal;
flex-shrink: 0;
}


.login::before{
     content: "";
    position: absolute;
    background-color:#DE970B;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
}

.login:hover::before{
    transform: scaleX(1);
}


.footer{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}

#navP1
{
    height: 30px;
    padding-left:40vw;
}





@media(max-width:765px)
{
    #navP1
    {
        height: 20vh;
        padding: 0;
        padding-left: 0px;

    }


}




@media (max-width:1200px) {
    #leftside{
        display: hidden;
        height: 0;
        width: 0;
    }

    #rightside{
        width: 100vw;
      
    }

    

}






@media (max-width:600px) {
    #nav{
        justify-content:space-between;
           
        align-items: center;
        gap: 10px;
        height: 100px;
    }

    #pages-link a{
        padding-left: 10px;
   color: white;
   text-decoration: none;
   font-size:12px;
  
}
#pages-link{
     gap:30px;
     padding-right: 0;
}

#login-form{
    width: 90%;
    
}

h1{
    font-size: 30px;
}

input{
    width: 100%;
}

.login{
    width: 100%;
}


}

@media (max-width:400px) {
     #pages-link a{
   font-size:8px;
  
}

#login-form{
    width: 95%;
}
}


@media (max-width:350px) {
    #login-form{
        border: none;
    }
}

@media(min-width:765px)
{
   
    #navP1{
        transform: translateY(-55px);
    }

    .container2{
        height: 0;
    }
}
